:root {
    --text: #050316;
    --background: #fbfbfe;
    --primary: #b4b7b7;
    --secondary: #404040;
    --accent: #92743f;
}


nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    list-style-type: none;
}

